<a href="{{ product.url }}" class="product-card">
  <img src="{{ product.featured_image | image_url }}" loading="lazy" width height alt="">
  <h4>{{product.title}}</h4>
  <p class="description">{{ product.description }}</p>
  <div class="add-to-cart {% if button_under_price %}column{% endif %}">
    {% render 'price' product: product %}

    {% comment %} <a class="btn" href="/cart/add?id={{product.selected_or_first_available_variant.id}}">{{ "products.product.add_to_cart" | t }}</a> {% endcomment %}
  </div>
</a>