{% assign title = 'customer.account.title' | t %}
{% render 'static-page-header' title: title, theme: "orange" %}
<div class="wrapper account-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="buttons">
          <a href="/pages/my-subscriptions" class="text-link btn">Bekijk mijn abonnementen</a>
          <a href="/account/logout" class="btn secondary">{{ "customer.log_out" | t }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 mb-3">
        <div class="orders-container">
          <h3>{{ 'customer.orders.title' | t }}</h3>

          {% paginate customer.orders by 20 %}
            {%- if customer.orders.size > 0 -%}
              <div class="table-container">
                <table role="table" class="order-history">
                  <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                          {{ order.financial_status_label }}
                        </td>
                        <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                          {{ order.fulfillment_status_label }}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_price | money }}</td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- else -%}
              <p>{{ 'customer.orders.none' | t }}</p>
            {%- endif -%}
        
            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                    {%- if paginate.previous -%}
                      <li>
                        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
        
                    {%- for part in paginate.parts -%}
                      <li>
                        {%- if part.is_link -%}
                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                        {%- else -%}
                          {%- if part.title == paginate.current_page -%}
                            <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                          {%- else -%}
                            <span>{{ part.title }}</span>
                          {%- endif -%}
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
        
                    {%- if paginate.next -%}
                      <li>
                        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
                    </ul>
                  </nav>
              {%- endif -%}
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="address-container">
          <h3>{{ 'customer.account.details' | t }}</h3>
          {{ customer.default_address | format_address }}
          <a href="{{ routes.account_addresses_url }}" class="btn">
            {{ 'customer.account.view_addresses' | t }}
          </a>
        </div>
        <div class="vat-container">
          <h3>Bedrijfsgegevens</h3>
          <div class="vat-number-display">
            {% if customer.metafields.nathanz["BTW nummer"] %}
              <p>
                {{ "customer.account.vat_no" | t }}: {{ customer.metafields.nathanz["BTW nummer"] }} 
              </p>
            {% endif %}
            {% if customer.metafields.nathanz["Bedrijfsnaam"] %}
              <p>
                {{ "customer.account.comp_name" | t }}: {{ customer.metafields.nathanz["Bedrijfsnaam"] }} 
              </p>
            {% endif %}

            {% if customer.metafields.nathanz["BTW nummer"] %}
              <button class="vat-edit-button">Bewerken</button>
            {% else %}
              <button class="vat-edit-button">Toevoegen</button>
            {% endif %}
          </div>
          
          <div class="vat-number-form d-none" >
            <form>
              <label for="vat_reg_no">
                {{ "customer.account.vat_no" | t }}
                <input type="text" id="vat_reg_no" name="customer[note][BTW nummer]" placeholder="{{ "customer.account.vat_no" | t }}" value="{{ customer.metafields.nathanz["BTW nummer"] }}" />
              </label>
              <label for="comp_name">
                {{ "customer.account.comp_name" | t }}
                <input type="text" id="comp_name" name="customer[note][Bedrijfsnaam]" placeholder="{{ "customer.account.comp_name" | t }}" value="{{ customer.metafields.nathanz["Bedrijfsnaam"] }}" />
              </label>
              <button type="submit" class="btn">Opslaan</button>
            </form>
          </div>
        </div>

        <div class="delivery-container">
          <h3>Alternatieve leveringsplaats</h3>
          <p class="location">{{ customer.metafields.nathanz["Alternatieve leveringsplaats"] }}</p>
          {% if customer.metafields.nathanz["Extra opmerkingen"] != "" %}
            <p class="notes">Opmerkingen: {{ customer.metafields.nathanz["Extra opmerkingen"] }}</p>
          {% endif%}
        </div>
      </div>

    </div>
  </div>
</div>
