{% assign title = 'customer.account.title' | t %}
{% assign description = 'customer.account.subscription_delivery_disclaimer' | t %}
{% render 'static-page-header' title: title, description: description, theme: "orange" %}
<div class="wrapper account-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="buttons">
          <a href="/tools/recurring/portal/{{customer.metafields.subscriptions.customer_string}}" class="text-link btn">Bekijk mijn abonnementen</a>
          <a href="/account/logout" class="btn secondary">{{ "customer.log_out" | t }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 mb-3">
        <div class="orders-container">
          <h3>{{ 'customer.orders.title' | t }}</h3>

          {% paginate customer.orders by 20 %}
            {%- if customer.orders.size > 0 -%}
              <div class="table-container">
                <table role="table" class="order-history">
                  <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                          {{ order.financial_status_label }}
                        </td>
                        <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                          {{ order.fulfillment_status_label }}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_price | money }}</td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- else -%}
              <p>{{ 'customer.orders.none' | t }}</p>
            {%- endif -%}
        
            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                    {%- if paginate.previous -%}
                      <li>
                        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
        
                    {%- for part in paginate.parts -%}
                      <li>
                        {%- if part.is_link -%}
                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                        {%- else -%}
                          {%- if part.title == paginate.current_page -%}
                            <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                          {%- else -%}
                            <span>{{ part.title }}</span>
                          {%- endif -%}
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
        
                    {%- if paginate.next -%}
                      <li>
                        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
                    </ul>
                  </nav>
              {%- endif -%}
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="address-container">
          <h3>{{ 'customer.account.details' | t }}</h3>
          {{ customer.default_address | format_address }}
          <a href="{{ routes.account_addresses_url }}" class="btn">
            {{ 'customer.account.view_addresses' | t }}
          </a>
        </div>
        <div class="vat-container">
          <h3>{{ "customer.account.company_info_form_title" | t }}</h3>
          <p class="subtitle">{{ "customer.account.company_info_form_subtitle" | t }}</p>
          <div class="vat-number-display">
            {% if customer.metafields.nathanz["BTW nummer"] %}
              <p>
                <strong>{{ "customer.account.vat_no" | t }}:</strong> {{ customer.metafields.nathanz["BTW nummer"] }} 
              </p>
            {% endif %}
            {% if customer.metafields.nathanz["Bedrijfsnaam"] %}
              <p>
                <strong>{{ "customer.account.comp_name" | t }}:</strong> {{ customer.metafields.nathanz["Bedrijfsnaam"] }} 
              </p>
            {% endif %}

            {% if customer.metafields.nathanz["BTW nummer"] or customer.metafields.nathanz["Bedrijfsnaam"] %}
              {% assign companyEndpoint = "/apps/customer_notes_to_metafields/update-preferences/" %}
              <button class="vat-edit-button">{{ "general.form.button_labels.edit" | t }}</button>
            {% else %}
              {% assign companyEndpoint = "/apps/customer_notes_to_metafields/add-preferences/" %}
              <button class="vat-edit-button">{{ "general.form.button_labels.add" | t }}</button>
            {% endif %}
          </div>
          
          <div class="vat-number-form d-none" >
            <form data-endpoint="{{companyEndpoint}}">
              <label for="vat_reg_no">
                {{ "customer.account.vat_no" | t }}
                <input type="text" required id="vat_reg_no"  name="BTW nummer" placeholder="{{ "customer.account.vat_no" | t }}" value="{{ customer.metafields.nathanz["BTW nummer"] }}" />
              </label>
              <label for="comp_name">
                {{ "customer.account.comp_name" | t }}
                <input type="text" required id="comp_name"  name="Bedrijfsnaam" placeholder="{{ "customer.account.comp_name" | t }}" value="{{ customer.metafields.nathanz["Bedrijfsnaam"] }}" />
              </label>
              <input type="hidden" value="{{customer.id}}" id="customer_id">
              <button type="submit" class="btn">{{ "general.form.button_labels.save" | t }}</button>
            </form>
          </div>
        </div>

        <div class="delivery-container">
          <h3>{{ "customer.account.delivery_form_title" | t }}</h3>
          <p class="subtitle">{{ "customer.account.delivery_form_subtitle" | t }}</p>
          <div class="delivery-display">
            {{customer.metafields}}
            {% unless customer.metafields.nathanz["Alternatieve leveringsplaats"] == blank %}
              <p class="location"><strong>Keuze:</strong> {{ customer.metafields.nathanz["Alternatieve leveringsplaats"] }}</p>
            {% endunless%}
            {% unless customer.metafields.nathanz["Extra opmerkingen"] == blank %}
              <p class="notes"><strong>Opmerkingen:</strong> {{ customer.metafields.nathanz["Extra opmerkingen"] }}</p>
            {% endunless%}
            {% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == blank %}
              {% assign deliveryEndpoint = "/apps/customer_notes_to_metafields/add-preferences/" %}
              <button class="delivery-edit-button">{{ "general.form.button_labels.add" | t }}</button>
            {% else %}
              {% assign deliveryEndpoint = "/apps/customer_notes_to_metafields/update-preferences/" %}
              <button class="delivery-edit-button">{{ "general.form.button_labels.edit" | t }}</button>
            {% endif%}
          </div>
          <div class="delivery-form d-none">
            <form data-endpoint="{{ deliveryEndpoint }}">
              <label for="alternatieve-leveringslocatie">
                <select required class="required" id="alternatieve-leveringslocatie" name="Alternatieve leveringsplaats">
                  <option value="Geen"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Geen" %} selected{% endif %}>Geen</option>
                  <option value="Bij een buur"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Bij een buur" %} selected{% endif %}>Bij een buur</option>
                  <option value="Op een veilige plaats"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Op een veilige plaats" %} selected{% endif %}>Op een veilige plaats</option>
                  <option value="Andere"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Andere" %} selected{% endif %}>Andere</option>
                </select>
              </label>
              <label for="extra-opmerkingen">
                <textarea id="extra-opmerkingen" name="Extra opmerkingen" placeholder="Extra opmerkingen">{{ customer.metafields.nathanz["Extra opmerkingen"] }}</textarea>
              </label>
              <input type="hidden" value="{{customer.id}}" id="customer_id">
              <button type="submit" class="btn">{{ "general.form.button_labels.save" | t }}</button>
            </form>
        </div>
      </div>

    </div>
  </div>
</div>
