<div class="hero-wrapper wrapper" style="background-image: url('{{ section.settings.image | image_url }}')">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero--content-wrapper">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.subtitle }}</p>
          <a href="{{section.settings.button_link}}" class="btn">{{section.settings.button_label}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "Afbeelding",
        "id": "image"
      },
      {
        "type": "text",
        "label": "Titel",
        "id": "title"
      },
      {
        "type": "text",
        "label": "Ondertitel",
        "id": "subtitle"
      },
      {
        "type": "url",
        "label": "Knop link",
        "id": "button_link"
      },
      {
        "type": "text",
        "label": "Knop label",
        "id": "button_label"
      }
    ]
  }
{% endschema %}