<div class="cart-wrapper wrapper wrapper--sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% assign cartItemsSize = cart.items | size %}
        {% if cartItemsSize > 0 %}
          <form action="{{ routes.cart_url }}" method="post">
            <div class="shopping-cart">
              <div class="column-labels">
                <label class="product-image">&nbsp;</label>
                <label class="product-details">&nbsp;</label>
                <label class="product-removal">&nbsp;</label>
                <label class="product-price">{{ "sections.cart.headings.price" | t  }}</label>
                <label class="product-quantity">{{"sections.cart.headings.quantity" | t}}</label>
                <label class="product-line-price">{{"sections.cart.headings.total" | t}}</label>
              </div>
    
              {% for item in cart.items %}
                <div class="product">
                  <div class="product-image">
                    {{ item.image | image_url: width: 100, height: 100 | image_tag: srcset: nil }}
                  </div>
                  <div class="product-details">
                    <h3 class="product-title">{{ item.product.title }}</h3>
                    {% if item.selling_plan_allocation %}
                      <p>
                        Abonnement: {{ item.selling_plan_allocation.selling_plan.name }}
                      </p>
                    {% endif %}
                    <p class="product-description">{{ product.description }}</p>
                    <a href="{{ item.url_to_remove }}" class="btn red btn-remove">Remove</a>
                  </div>
                  <div class="product-removal">
                    &nbsp;
                  </div>
                  <div class="product-price">{{ item.price | money_without_trailing_zeros}}</div>
                  <div class="product-quantity">
                    {{ item.quantity }}
                  </div>
                  <div class="product-line-price">{{ item.final_line_price | money_without_trailing_zeros }}</div>
                </div>
              {% endfor %}
    
              <div class="totals">
                <div class="totals-item totals-item-total">
                  <label>{{"sections.cart.headings.total" | t}}</label>
                  <div class="totals-value" id="cart-total">{{ cart.total_price | money_without_trailing_zeros }}</div>
                </div>
                <label>
                Alternatieve leveringslocatie
                <p class="subtitle">Selecteer een plaats waar de bloemen geleverd mogen worden als je niet thuis bent. Deze instellingen overschrijven de instellingen op jouw profiel alleen voor deze bestelling.</p>
                <select required class="required" id="alternatieve-leveringslocatie" name="attributes[Alternatieve leveringsplaats]">
                  <option value="Geen"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Geen" %} selected{% endif %}>Geen</option>
                  <option value="Bij een buur"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Bij een buur" %} selected{% endif %}>Bij een buur</option>
                  <option value="Op een veilige plaats"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Op een veilige plaats" %} selected{% endif %}>Op een veilige plaats</option>
                  <option value="Andere"{% if customer.metafields.nathanz["Alternatieve leveringsplaats"] == "Andere" %} selected{% endif %}>Andere</option>
                </select>
              </label>
              <label for="extra-opmerkingen">
                <textarea id="extra-opmerkingen" name="attributes[Extra opmerkingen]" placeholder="Extra opmerkingen">{{ customer.metafields.nathanz["Extra opmerkingen"] }}</textarea>
              </label>
              {% if customer.metafields.nathanz["BTW nummer"] != "" %}
                <input type="hidden" name="attributes[BTW nummer]" value='{{ customer.metafields.nathanz["BTW nummer"] }}'>
              {% endif %}
              {% if customer.metafields.nathanz["Bedrijfsnaam"] != "" %}
                <input type="hidden" name="attributes[Bedrijfsnaam]" value='{{ customer.metafields.nathanz["Bedrijfsnaam"] }}'>
              {% endif %}
              <button class="btn checkout" type="submit" name="checkout">Checkout</button>
            </div>
          </form>
        {% else %}
          <div class="cart--empty wrapper">
            <h2>{{ "sections.cart.empty" | t }}</h2>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Cart"
  }
{% endschema %}
