<script>
  window.product = {{ product | json }}
</script>

<div class="wrapper product-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>{{ product.title }}</h1>
        <p class="product-price">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</p>
        <div>{{ product.description }}</div>
        {%- form 'product', product, id: product.id, class: 'installment caption-large' -%}
          {% if product.has_only_default_variant == false %}
            {% for product_option in product.options_with_values %}
              <label class="options">
                {{ product_option.name }}
                <select class="product-option-selector">
                  {% for value in product_option.values %}
                    <option {% if product_option.selected_value == value %}selected{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </label>
            {% endfor %}
          {% endif %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <input type="number" name="quantity" min="1" value="1">
          <button type="submit" name="Add to cart">{{ 'products.product.add_to_cart' | t }}</button>
        {%- endform -%}
      </div>
      <div class="col-5 offset-1">
        {{ product.featured_image | image_url: width: 800 | image_tag: srcset: nil, class: "product-image" }}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Product informatie",
  "class": "product-info",
  "settings": [
    {
      "id": "qty-field",
      "label": "Toon hoeveelheid veld",
      "type": "checkbox",
      "default": true
    }
  ]
}
{% endschema %}