{% if section.settings.layout == "text-image" %}
  {% assign imageOrder = "order-md-2" %}
  {% assign textOrder = "order-md-1" %}
{% endif %}

<div class="story-wrapper wrapper {{section.settings.theme}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 order-1 {{imageOrder}}">
        <img src="{{ section.settings.image | image_url }}" loading="lazy" width="" height="" alt="">
      </div>
      <div class="col-12 col-md-5 order-2 {{textOrder}}">
        <h2>{{ section.settings.title }}</h2>
        <div class="body">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Story",
    "tag": "section",
    "presets": [
      {
        "name": "Story"
      }
    ],
    "settings": [
      {
        "type": "select",
        "label": "Thema",
        "id": "theme",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Beige",
            "value": "beige"
          },
          {
            "label": "Beige - licht",
            "value": "beige__light"
          },
          {
            "label": "Rood",
            "value": "red"
          }
        ]
      },
      {
        "type": "select",
        "label": "Layout",
        "id": "layout",
        "options": [
          {
            "label": "Afbeelding - Tekst",
            "value": "image-text"
          },
          {
            "label": "Tekst - Afbeelding",
            "value": "text-image"
          }
        ]
      },
      {
        "type": "image_picker",
        "label": "Afbeelding",
        "id": "image"
      },
      {
        "type": "text",
        "label": "Titel",
        "id": "title"
      },
      {
        "type": "richtext",
        "label": "Tekst",
        "id": "text"
      }
    ]
  }
{% endschema %}